@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Delius&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
html,body{
  overflow-x: hidden;
}

body{
  font-family: "inter";
}


input[type="radio"] {
  accent-color: #fff;
  border: #42b0f5;
}

input.hide-date-icon::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
@keyframes gradient-x {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.animate-gradient-x {
  background-size: 200% auto; 
  animation: gradient-x 4s linear infinite; 
}

/* html,body{
  overflow-y: hidden;
} */


/* Custom Scrollbar */
.bar::-webkit-scrollbar {

  display: none;
}


/* Scrollbar width */

.bar:hover::-webkit-scrollbar{
  display:block;
}


.bar::-webkit-scrollbar {
  width: 5px;        /* vertical scrollbar thickness */
  height: 10px;       /* horizontal scrollbar thickness */
}



/* Track (background) */
.bar::-webkit-scrollbar-track {
  background: #dadada;
  border-radius: 10px;
}

/* Thumb (scroll handle) */
.bar::-webkit-scrollbar-thumb {
  background: #bab8b8;
  border-radius: 10px;
}

/* Thumb on hover */
.bar::-webkit-scrollbar-thumb:hover {
  background: #c5c4c4;
}





input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows (Firefox) */




/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #514b82;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}


