@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Delius&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
html,body{
  overflow-x: hidden;
}

body{
  font-family: "inter";
}


input[type="radio"] {
  accent-color: #fff;
  border: #42b0f5;
}

input.hide-date-icon::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
@keyframes gradient-x {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.animate-gradient-x {
  background-size: 200% auto; 
  animation: gradient-x 4s linear infinite; 
}

html,body{
  overflow-y: hidden;
}


/* Custom Scrollbar */
::-webkit-scrollbar {

  display: none;
}

